* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background:
    linear-gradient(rgba(255,220,225,0.75), rgba(255,240,230,0.8)),
    url("https://images.unsplash.com/photo-1563241527-3004b7be0ffd");

    background-size: cover;
    background-position: center;
}


/* kelopak bunga */
body::before {
    content: "🌹 🌸 🌹";
    position: fixed;
    top: -50px;
    left: 20%;
    font-size: 30px;
    animation: bunga 8s linear infinite;
}

body::after {
    content: "🌸";
    position: fixed;
    top: -50px;
    right: 20%;
    font-size: 35px;
    animation: bunga 10s linear infinite;
}


@keyframes bunga {

    0% {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }

}


.container {
    width: 90%;
    max-width: 450px;
}


.slide {
    display: none;
}


.slide.active {
    display: block;
    animation: masuk 1s ease;
}


@keyframes masuk {

    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}


.card {

    background: rgba(255,255,255,0.88);

    backdrop-filter: blur(8px);

    padding: 35px 25px;

    border-radius: 30px;

    text-align: center;

    box-shadow:
    0 15px 40px rgba(150,50,70,.25);

    border: 2px solid rgba(255,255,255,.7);

}


h1 {

    color:#c9184a;

    font-size:30px;

    margin-bottom:20px;

    animation: teks 1.5s;

}


h2 {

    color:#c9184a;

    margin-bottom:15px;

}


p {

    color:#555;

    line-height:1.8;

    font-size:15px;

    animation: teks 2s;

}


@keyframes teks {

    from {
        opacity:0;
        transform:translateY(15px);
    }

    to {
        opacity:1;
        transform:translateY(0);
    }

}


.photo {

    width:190px;
    height:190px;

    object-fit:cover;

    border-radius:50%;

    border:6px solid white;

    margin-bottom:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}


button {

    margin-top:30px;

    padding:13px 35px;

    border:none;

    border-radius:50px;

    background:#c9184a;

    color:white;

    font-size:16px;

    cursor:pointer;

}


button:hover {

    transform:scale(1.08);

}


@media(max-width:600px){

.card {
    padding:30px 20px;
}

.photo {
    width:160px;
    height:160px;
}

}
